body{
  margin: 0px;
}
.navbar{
  display: flex;
  background-color: #333;
  .routeChangeButton{
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    &:hover{      
      background-color: #111;
    }
  }
}
.container{
  display: flex;
  padding:14px;
  flex-wrap: wrap;
}
